<?xml version="1.0"?>
<model>
  <name>pool</name>
  <version>1.0</version>
  <sdf version="1.12">model.sdf</sdf>
  <author>
    <name>Carlos Agüero</name>
    <email>caguero@honurobotics.com</email>
  </author>
  <description>25m x 25m x 5m swimming pool with floor, walls, and water volume.</description>
</model>
